{% extends 'index.html' %}

{% block title %}
Пользователь
{% endblock %}

{% block body %}
<div class="header"></div>
<div class="container">
	<div class="up-part">
		<div class="right-part"></div>
		<div class="center-part">
			<h2>123456789</h2>
			<form method="post">
				<input type="date" id="date" name="date"/>
			</form>
		</div>
		<div class="left-part"></div>
	</div>
	<div class="down-part">
		<img src="data:image/png;base64,{{ plot_url }}">
		<form method="post">
			<label class="switch">
			  <input type="checkbox">
			  <span class="slider"></span>
			</label>
		</form>
	</div>
</div>
{% endblock %}